{% extends "base.html" %}

{% set title = 'Общая Статистика' %}
{% block content %}
    <h1>Общая статистика</h1>
    <h2>Всего зарегистрировано {{number}} обработанных запросов.</h2>
    <br>
    <br>

    {% for line in requests %}
        <div class="card" style="background-color: skyblue">
            <h5 class="card-header">Запрос номер {{loop.index}}.</h5>
            <div class="card-body" style="background-color: ghostwhite">
                <h4 class="card-title">Место карты: {{line[0]}}</h4>
                <h5 class="card-text">Пользователь '{{line[1]}}'</h5>
                <h5 class="card-text">{{line[2]}}.</h5>
                <a target="_blank" href={{line[3]}} class="card-text">Ссылка на карту.<a/>
            </div>
        </div>
        <br>
        <br>
    {% endfor %}
{% endblock %}