{% extends "base.html" %}

{% set title = 'Главная страница' %}
{% block content %}
    <h1>Уважаемый пользователь!</h1>
    <h3>Это главная страница сайта "Алиса путеводитель", где вы можете найти информацию о статистике чат-бота.</h3>
    <br>
    <div class="card" style="background-color: skyblue">
        <h5 class="card-header">Страницы:</h5>
        <div class="card-body" style="background-color: ghostwhite">
            <br>
            <ul>
                <li><a href='/general_statistics' class="card-text">
                    <h4>Информация о всех записях.</h4>
                </a></li>
                <li><a href='/user_statistics' class="card-text">
                    <h4>Информация о конкретном пользователе.</h4>
                </a>
                <li><a href='/statistics_of_users_and_places' class="card-text">
                    <h4>Общая информация о пользователях и местах.</h4>
                </a></li>
                <li><a href='/last_map' class="card-text">
                    <h4>Последняя нарисованная карта.</h4>
                </a></li>
            </ul>
            <br>
        </div>
    </div>
    <br>
    <h3>Мы надеемся, что эта информация была вам полезна.</h3>
{% endblock %}