{% extends "base.html"%}

{% set title = 'Точечная статистика' %}
{% block content %}
    <h1>Точечная статистика.</h1>
    <br>
    <h3>Пользователи:</h3>

    {% for user in list_of_users %}
        <div class="card" style="background-color: skyblue">
            <h5 class="card-header">"{{user[0]}}"</h5>
            <div class="card-body" style="background-color: ghostwhite">
                <h4 class="card-title">Сделал всего {{user[1]}} запросов.</h4>
                <h5 class="card-text">Последняя активность - {{user[2]}}.</h5>
            </div>
        </div>
        <br>
        <br>
    {% endfor %}

    <br>
    <br>
    <h3>Места:</h3>
    {% for place in list_of_places %}
        <div class="card" style="background-color: skyblue">
            <h5 class="card-header">"{{place[0]}}"</h5>
            <div class="card-body" style="background-color: ghostwhite">
                <h4 class="card-title">Искалось в {{place[1]}} запросах.</h4>
                <h5 class="card-text">Последний поиск - {{place[2]}}.</h5>
            </div>
        </div>
        <br>
        <br>
    {% endfor %}
{% endblock %}