{% extends "base.html" %}

{% set title = 'Статистика пользователя' %}
{% block content %}
    <h3>Пользователь "{{user_id}}".</h3>
    <h2>Общее количество запросов - {{number}}.</h2>
    <br>
    <br>

    {% for line in requests %}
        <div class="card" style="background-color: skyblue">
            <h5 class="card-header">Запрос номер {{loop.index}}.</h5>
            <div class="card-body" style="background-color: ghostwhite">
                <h4 class="card-title">Место карты: {{line[0]}}.</h4>
                <h5 class="card-text">{{line[1]}}.</h5>
                <a target="_blank" href="{{line[2]}}" class="card-text">Ссылка на карту.<a/>
            </div>
        </div>
        <br>
        <br>
    {% endfor %}
{% endblock %}